body {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.links a {
  color: #38bdf8;
  font-size: 14px;
  cursor: pointer;
}
